[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
[submodule ".vim/bundle/unite.vim"]
	path = .vim/bundle/unite.vim
	url = https://github.com/Shougo/unite.vim
[submodule ".vim/bundle/neomru.vim"]
	path = .vim/bundle/neomru.vim
	url = https://github.com/neomru.vim
[submodule ".vim/bundle/neocomplete.vim"]
	path = .vim/bundle/neocomplete.vim
	url = https://github.com/neocomplete.vim
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
